.game {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.scoreboard-container > *{
  margin: 0 auto;
}

.scoreboard-container * {
  text-transform: uppercase;
}

.scoreboard-container p {
  margin: 0;
  font-size: 18px;
}

.scoreboard-container p:nth-of-type(1){
  margin-top: 12px;
}

.scoreboard-container p:nth-of-type(2){
  margin-top: 15px;
  margin-bottom: 12px;
}

.card-container {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
}

.card {
  width: 125px;
  aspect-ratio: 0.7 / 1;
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 0%,rgba(17,17,17,1) 100%); /* W3C */
  border: 1px solid black;
  padding: 10px 20px;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
}

.card > img {
  max-width: 100%;
}

.pokemon-name {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  font-family: 'PokemonGB', 'Times New Roman', 'Serif'
}

.game-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../assets/backgrounds-modal-container/genesect.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid black;
  z-index: 1000;
  padding: 50px 80px;
}

.game-status-image {
  width: 100%;
  margin-top: 20px;
}

.game-status-text {
  color: black;
  text-align: center;
  margin: 0;
  font-size: 14px;
}

.game-status .pokemon-inner-text-box {
  padding: 5px 20px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.buttons-container button {
  background-color: white;
  border-radius: 5px;
}

.buttons-container button:nth-of-type(1){
  height: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  margin-right: 10px;
}

.buttons-container button:nth-of-type(2){
  text-transform: uppercase;
  height: 50px;
  width: 50%;
  font-weight: bold;
  font-family: 'PokemonGB', 'Times New Roman', 'Serif'
}

/* css for loading screen */
.loading-screen {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.loading-animations {
  width: 80%;
  margin: 0 auto;
}

.loading-screen h1 {
  text-align: center;
}

.loading-textbox-container {
  display: flex;
  justify-content: center;
}

.loading-screen h1 {
  overflow: hidden;
  animation: typing 4s steps(10) infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}


@keyframes running {
  from {
    left: -10%;
  }

  to {
    left: 100%;
  }
}

#pikachu-running-gif {
  position: absolute;
  animation-name: running;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (max-width: 800px) {
  #pikachu-running-gif {
    width: 200px;
  }

}

@media screen and (min-width: 800px) {
  .pokemon-name {
    font-size: 14px;
  }

  .card {
    width: 200px;
  }

  .card-container {
    margin: auto;
  }

  .game-status-text {
    font-size: 24px;
  }

  .game-status .pokemon-inner-text-box {
    padding: 10px 30px;
  }
}

