.scoreboard-container {
  position: absolute;
  left: 50%;
  top: 2.5%;
  transform: translateX(-50%);
}

.scoreboard-container * {
  text-transform: uppercase;
}

.scoreboard-container p {
  margin: 0;
}

.scoreboard-container p:nth-of-type(2){
  margin-top: 15px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 200px;
  border: 1px solid black;
  padding: 10px 20px;
}

.card:hover {
  cursor: pointer;
}

.card > img {
  max-width: 100%;
}

.pokemon-name {
  text-transform: capitalize;
  text-align: center;
}

.game-status {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: url(../assets/backgrounds-modal-container/genesect.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid black;
  z-index: 1000;
  padding: 50px 80px;
}

.game-status-image {
  width: 100%;
  margin-top: 20px;
}

.game-status-text {
  color: black;
  text-align: center;
  margin: 0;
}

.buttons-container {
  margin-top: 20px;
  text-align: center;
}

.buttons-container button {
  background-color: white;
  border-radius: 5px;
}

.buttons-container button:nth-of-type(1){
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-right: 10px;
  width: 10%;
}

.buttons-container button:nth-of-type(2){
  text-transform: uppercase;
  width: 50%;
}


.scoreboard-container p {
  font-size: 12px;
}

/* css for loading screen */
.loading-screen {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.loading-animations {
  width: 80%;
  margin: 0 auto;
}

.loading-screen h1 {
  text-align: center;
}

.loading-textbox-container {
  display: flex;
  justify-content: center;
}

.loading-screen h1 {
  overflow: hidden;
  animation: typing 5.5s steps(10) infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}


@keyframes running {
  from {
    left: -10%;
  }

  to {
    left: 100%;
  }
}

#pikachu-running-gif {
  position: absolute;
  animation-name: running;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (max-width: 800px) {
  #pikachu-running-gif {
    width: 200px;
  }
}
